header{
  background: gray;
  height: 80px;
  display: flex;
}
.vehicle-container{
  background: url("file:///Users/Tatsu/SEI/project-4/p4-media-flashcards/p4flashcards-api/client/src/images/hero-image.jpg");
  height: 80vh;

}
/* <a href="https://www.vecteezy.com/free-vector/blue-background">Blue Background Vectors by Vecteezy</a> */


.vehicle-card{
  width: 400px;
  text-align: center;
  margin: 0 auto;
}
.vehicle-card img{
  text-align: center;
  width: 300px;
}

.add-new-vehicle, .plus-sign{
  text-align: center;
  width: 100px;
}

.vehicle-page img{
  width: 300px;
}