header{
  background: #0A101E;
  height: 80px;
  display: flex;
}
.hero-image{
  /* background: url("https://github.com/PurpleTatsu/P4-Flashcards/blob/master/client/src/images/hero-image.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: 100%; */
  height: auto;
  width: 100%;

}
/* <a href="https://www.vecteezy.com/free-vector/blue-background">Blue Background Vectors by Vecteezy</a> */


.vehicle-card{
  width: 400px;
  text-align: center;
  margin: 0 auto;
}
.vehicle-card img{
  text-align: center;
  width: 300px;
}

.add-new-vehicle, .plus-sign{
  text-align: center;
  width: 100px;
}

.vehicle-page img{
  width: 300px;
}