header{
  background: #0A101E;
  height: 50px;
  display: flex;
  color: white;
  justify-content: space-evenly;
}
footer{
  /* background: #0D2D77; */
  background: #0A101E;
  height: 100px;
  display: flex;
  justify-content: center;
  width: 100%;
}
footer div{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10px;
  font-size: 0.5em;
  margin-top: 45px;
}
footer div a{
 width: 100%;
 text-decoration: none;
 color: gray;
 
}

footer img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding: 5px;
}
footer img:hover{
  background: gray;

}
.lingo-logo{
  height: 50px;
  width: auto;
}
.lingo-logo:hover{
border: 1px solid rgba(255,255,255,0.1)
}
header div{
  margin: 0 auto;
}
header h2{
  font-size: 1em;
}
header h2, header h1{
  margin: auto;
}
header p{
  margin-top:auto;
  margin-bottom: 0;
  text-align: center;
}
header a{
  color:white;
  text-decoration: none;
}

body{
  /* background: #1566F0; */
  background: #0D2D77;
  color: white;
  font-family: 'PT Serif', serif;
}

.hero-image{
  /* background: url("https://github.com/PurpleTatsu/P4-Flashcards/blob/master/client/src/images/hero-image.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: 100%; */
  max-width: 100%;
  height: auto;
  width: 100%
}
.hero-section{
  /* margin-bottom: 20px; */
}
#media{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background: rgb(21, 76, 194); */
  background: #0A101E;
  color: white;
  /* position: absolute; */
  height: 100%;    
}



.vehicle-card{
  width: 300px; 
  height: 250px;
  text-align: center;
  margin: 0;
  object-fit: cover;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
}
.vehicle-card img{
  object-fit: cover;
  width: 300px;
  height: 200px;
  }

.vehicle-card img:hover{
  -webkit-transform: scale(1.1,1.1);
  transform: scale(1.1,1.1);
  border-radius: 4px;
  transform-origin: bottom center;
  transition: transform .1s ease-out;
  overflow: hidden;  

}


.vehicle-card h3{
  margin: 2px;
}

.edit-vehicle{
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.edit-vehicle h3{
  margin:0;
}
.edit-vehicle input{
  margin: 0 5px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  width: 100px;
  height: 100px;
  margin: 10px auto;
  cursor: pointer;
}
.container img{
  width: 100px;
  height: 100px;
}
.container img:hover{
  animation: rotation 2s infinite linear;
}
@-moz-keyframes rotation {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes rotation {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes rotation {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.vehicle-page {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  height: 87vh;
  background: #0A101E;
  color: white;
}
.vehicle-hero{
  width: 100%;
  display: flex
}
/* .vehicle-hero img{
  width: 100%;
} */

.vehicle-info{
  display: flex;
  flex-wrap: wrap;
  margin: 7% auto auto auto;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
}

.vehicle-info h1{
  font-size: 3em;
  margin: 0 auto;
}
.vehicle-info h3{
  font-size: 1.2em;
  margin: 0 auto;
}
.vehicle-hero img{
  /* margin: 5vh auto;*/
  width: 100%; 
  max-width: 70%;
  max-height:70vh;
  object-fit: cover;

}


.auth-container{
  text-align: center;
}

form p{
  margin: 2px;
}
.flashcard-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flashcard-page, .flashcard-page h3 {
  width: 100%;
  text-align: center;
}
.flashcard-card{
  margin: 10px;
  width: 300px;
  height: auto;
  /* background: rgb(30, 68, 101);
  border: 1px solid white; */
  text-align: center;
}

.flashcard-card h3{
  margin: 5px;
  background: rgba(255,255,255,0.1);
}

.flashcard-card button{
        width: 100px;
    height: 25px;
    background: transparent;
    color: white;
    border: 1px solid gray;
    font-size: 1em;
    color: gray;
    font-family: PT serif;
    margin: 5px auto;
    transition: all 0.3s ease-in-out 0s;
  }
    
    .flashcard-card button:hover{
  
      background: gray;
      color: black;
     
    }

.add-new{
  margin: 2% auto;
  text-align: center;
  text-transform: capitalize;
  width: 50%;
  background: #0A101E;
  padding: 5px;

}
.create-form{
  display: flex;
  flex-direction: column;

}

.create-form input{
  /* text-transform: capitalize; */

  width: 30%;
  height: 20%;
  margin:5px auto;  
}
input[type="submit" i], .create-form button{
  width: 100px;
  height: 40px;
  background: #1957E6;
  color: white;
  border: none;
  font-size: 1em;
  font-family: PT serif;
  margin: 5px auto;
  transition: all 0.3s ease-in-out 0s;
}

input[type="submit" i]:hover{
  background: #0B3680;
}
.vehicle-info button{
  width: 100px;
  height: 25px;
  background: transparent;
  color: white;
  border: 1px solid gray;
  font-size: 1em;
  color: gray;
  font-family: PT serif;
  margin: 5px auto;
  transition: all 0.3s ease-in-out 0s;
}
.vehicle-info button:hover{
 
  background: gray;
  color: black;
 
}



.create-form button:hover{
  background: darkgray;
}
#buttons{
  margin: auto;
 
}
#buttons button{
cursor: pointer;
width: auto;
padding: 0 25px;
height: 20px;
background: #1957E6;
color: white;
border: none;
border-radius: 0 0 3px 3px;
margin: 3px;
font-size: 1em;
font-family: "PT Serif", serif;
transition: all 0.3s ease-in-out 0s;
}
#buttons button:hover{
  background: #0B3680;
  transition: all 0.3s ease-in-out 0s;
}

.add-flashcard{
  width: 100%;
  text-align: center;
}

.add-flashcard-button{
  width: 200px;
  height: 30px;
  align-self: flex-end;
  margin: 10px auto;
  background: #1957E6;
  border: none;
  border-radius: 0 0 3px 3px;
  color: white;
  font-size: 1em;
  font-family: "PT Serif", serif;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}
.add-flashcard-button:hover{
  background: #0B3680;
  transition: all 0.3s ease-in-out 0s;

}


header button{
  cursor: pointer;
  width: auto;
  padding: 0 25px;
  height: 20px;
  background: #1957E6;
  color: white;
  border: none;
  border-radius: 0 0 3px 3px;
  margin: 3px;
  font-size: 1em;
  font-family: "PT Serif", serif;
  transition: all 0.3s ease-in-out 0s;
  }
  header button:hover{
    background: #0B3680;
    transition: all 0.3s ease-in-out 0s;
  }

  #login-button{
    margin-top: 15px;
  }
